* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.grid {
  height: 150px;
  width: 150px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.grid div {
  height: 50px;
  width: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
